/*-- scss:defaults --*/
/*-- scss:rules --*/
.course-title {
  font-size: 3rem;
}

.course-instructor {
  font-size: 1.5rem;
  color: $brand-gray-700;
}

.course-meta {
  font-size: 1.2rem;
  color: $brand-gray-600;
}

.course-logo {
    margin-top: -4em;
}